Test results:\n 
	{{passedSuitesCount}} suites passed, {{failedSuitesCount}} suites failed.\n
\n
Details:\n 
{{#each suites}}
	{{{name}}}:	{{duration}}ms\n
	{{passedTestsCount}} tests passed, {{failedTestsCount}} tests failed:\n
{{#each tests}}
{{#unless error}}		Passed:	{{{name}}}	{{duration}}ms\n{{/unless}}
{{#if error}}		Failed: {{{name}}}	{{duration}}ms	{{message}}	expected:{{expected}}	actual:{{actual}}\n{{/if}}
{{/each}}
{{/each}}